/* =============
    Base
============= */
figure{
    padding: 0;
    margin: 0;
}

ul{
    padding: 0;
    margin: 0;
    li{
        list-style: none;
    }
}

.container-grid{
    display: grid;
    grid-template-columns: auto 1200px auto;
    grid-template-areas: ". grid-content .";
    min-height: 100vh;

    .grid-content{
        grid-area: grid-content;
        min-height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

main {
    display: grid;
    grid-template-areas:
      "header"
      "creative"
      "journal"
      "footer";
  
    .header {
      grid-area: header;

      .title {
        display: flex;
        justify-content: center;
      }
    }
  
    .creative {
      height: 70px;
      margin: 30px 10px 0;
  }
  
    .journal {
      grid-area: journal;
  
      ul{
        display: grid;
        grid-gap: 40px;
        grid-template-areas:
          "imgg1"
          "imgg2"
          "imgg3";
  
       @include md {
            grid-template-columns: repeat(2, 300px);
            grid-template-areas:
              "imgg1 imgg1 imgg2 imgg2"
              "imgg3 imgg3";
        }
  
         @include lg {
            grid-template-columns: repeat(3, 300px);
            grid-template-areas:
              "imgg1 imgg1 imgg2 imgg2 imgg3 imgg3";
        }
      }
    }
  
    #footer {
      grid-area: footer;
  
        .socials ul {
          display: flex;
        }
   
          @include lg {
            grid-template-areas:
            "locations  newsletter socials";
          }
      }
  }
