/* =============
    Footer
============= */
 .footer {
     display: grid;
     grid-template-areas: ". footer .";

     .socials {
         color: black;
         background: url("../../../deploy/img/social/facebook-square-brands.svg") no-repeat;
         background: url("../../../deploy/img/social/twitter-square-brands.svg") no-repeat;
         background: url("../../../deploy/img/social/youtube-square-brands.svg") no-repeat;
         background: url("../../../deploy/img/social/instagram-square-brands.svg") no-repeat;
     }
}