/* =============
    Header
============= */

.headimg {
    background: url("../../../deploy/img/hero/hero.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    height: 600px;
}